#map-container { 
	height: 300px 
}

.body {
	overflow: hidden;
}
#info {
	margin: 0px;
	padding: 0px;
}

#infoBox {
	display: none;
	background-color: #F3F3F1;
	border: 4px solid red;
	border-color: #990b0b;
	margin-left: 14px;
	padding-left: -60px;
	padding-top: 15px;
}

.infoImg {
	width: 100%;
    height: auto;
    max-width: 100%;
}

#right {
	padding-top: 70px;
	padding-left: 0px;
	padding-right: 0px;
	/*overflow:auto;*/
}

.navbar {
	height: 60px;
}

.navbar-default {
	background-color: #afac9c;
	border-bottom: 2px solid red;
	border-color: #990b0b;
}
#list {
	overflow: scroll;
	height: 100%;
	display: block;
}

#main {
	/*overflow: scroll;*/
	min-height: 100%;
	padding-left: 0px;
	padding-right: 0px;
}


.navbar .nav > li > a {
	color: white;
	background-color: #afac9c;
}

.navbar .nav > li > a:hover{
	color: #990b0b;
	background-color: #afac9c;

}

.navbar .nav > li:active {
	color: #990b0b;
	background-color: #afac9c;

}

.bizList {
	display: hidden;
}

a {
	color: #990b0b;
}

a:hover {
	color: #990b0b;
	text-decoration: underline;
}

a:active {
	color: #990b0b;
	text-decoration: none;
}

a:visited {
	color: #990b0b;
	text-decoration: none;
}