.opaque {
	background-image: url("images/black-01.png");
}

html, body {
    height:100%;
}

body {
        position: relative;
        background: url('images/2-2.jpg');
        background-size: cover;
}

.content-a {
    display:table;
}

.content-b {
    display:table-cell;
    position:relative;
    vertical-align:middle;
    text-align:center;
}

h4 {
	color: white;
	font-weight: 200;
}

a {
	color: white;
	text-decoration: underline;
}

a:hover {
	color: #bbb;
	 -o-transition:.3s;
  	-ms-transition:.3s;
  	-moz-transition:.3s;
  		-webkit-transition:.3s;
 	 /* ...and now for the proper property */
  	transition:.3s;
}

a:active {
	color: #bbb;
}

a:visited {
	color: white;
}