/*#map-container { 
	height: 300px 
}
*/
#map-canvas {
	float: left;
	height: 100%
}

body {
	background-color: #f5f4f1;
}
.right {
	overflow: auto;
}


.infoImg {
	width: 100%;
    height: auto;
    max-width: 100%;
}

#right {
	padding-top: 70px;
	padding-left: 0px;
	padding-right: 0px;
	height: 100%;
	overflow:auto;
}

.navbar {
	height: 60px;
}

.navbar-default {
	background-color: #afac9c;
	border-bottom: 2px solid red;
	border-color: #990b0b;
}
#list {
	/*overflow: auto;*/
	height: 100%;
	display: block;
}

#main {
	min-height: 100%;
	padding-left: 0px;
	padding-right: 0px;
}


.navbar .nav > li > a {
	color: white;
	background-color: #afac9c;
}

.navbar .nav > li > a:hover{
	color: #990b0b;
	background-color: #afac9c;

}

.navbar .nav > li:active {
	color: #990b0b;
	background-color: #afac9c;

}

/*.table {
	overflow: auto;
}*/
/*.bizList {
	display: hidden;
}
*/
a {
	color: #990b0b;
}

a:hover {
	color: #990b0b;
	text-decoration: underline;
}

a:active {
	color: #990b0b;
	text-decoration: none;
}

a:visited {
	color: #990b0b;
	text-decoration: none;
}

#content {
	margin-top: 120px;
}

img {
	max-width: 100%;
}